html, body {
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden;
}

.linebreak {
    width: 70%;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

.about-container {
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    flex: none;

    h1 {
        font-weight: 200;
        font-size: 128px;
        text-align: center;
    }

    h2 {
        font-weight: 200;
        font-size: 56px;
        text-align: center;
    }

    h3 {
        font-weight: 200;
        font-size: 24px;
        text-align: center;
    }

    li {
        font-weight: 300;
        font-size: 16px;
    }

    ul {
        width: 700px;

        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        list-style-position: inside;

        @media only screen and (max-width: 800px) {
            margin-left: auto;
            margin-right: auto;

            width: 80%;
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
    }
}

.section {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: none;

    overflow: hidden;
    flex-flow: column nowrap;
}

.intro {
    height: 50vh;
}

