.nav-header {
    background-color: #FFF;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.1) 0 1px;
    top: 0;
    position: relative;
    z-index: 5;
}

.nav-header-nav {
    top: 0;
}

.nav-header-logo {
    color: #1B4079;
    padding: 0 20px;
    line-height: 60px;
    font-size: 32px;
    margin: 0;
    display: inline;
    text-align: center;
    text-align: -moz-center;
    float: left;
    //box-shadow: 1px 0px rgba(0,0,0,0.1);
}

.nav-header-pages {
    height: 60px;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;

    li {
        display: inline;
        list-style: none;
    }

    li a {
        float: left;
        color: #00A1E4;
        text-align: center;
        margin: 10px 5px;
        padding: 0 10px;
        line-height: 40px;
        text-decoration: none;
        font-size: 17px;
        border-radius: 30px;

        &:hover {
            background-color: #1B4079;
            color: white;
        }

        &.active {
            background-color: #EF8354;
            color: white;
        }
    }
}



